 <!--  Chaehyun Lee #301084271 03-6-2021 -->

<!-- header is in header.ejs-->

<h2>Chaehyun Lee</h2><br>


<h2>E-mail Address</h2>
<a href="mailto:rize1126jesse@gmail.com">rize1126jesse@gmail.com</a>
<h2>Instagram</h1>
<a href="https://www.instagram.com/punk_airjam/?hl=ja">punk_airjam</a>


<form id="contact">
  <div class="container">
    <div class="head">
      <h2>Question Form</h2>
    </div>
    <input type="text" name="name" placeholder="Name" /><br />
    <input  type="email" name="email" placeholder="Email" /><br />
    <textarea type="text" name="message" placeholder="Message"></textarea><br />
    <div class="message">Message Sent</div>
    <button id="submit" type="submit">
      Send!
    </button>
  </div>
</form>
<a href="/">back to home</a>


<!-- header is in header.ejs-->