 <!--  Chaehyun Lee #301084271 03-6-2021 -->


<a href="contact">Contact me</a>



<%if(typeof displayName == 'string' && displayName){%>
    <a href="logout">Log out</a>
<%} else {%>
    <a href="login">Log in</a>
<% } %>
