 <!--  Chaehyun Lee #301084271 03-6-2021 -->

<h1>Name: Chaehyun Lee</h1>
<h2>Birth Date:1999-Nov-26</h2>
<p>I was born in Korea and raised in Japan. I like to listen to music, especially punk bands like SUM41 and GREEN DAY! </p>
<img src="/images/myphoto.jpg" alt="myphoto" title="myphoto">

<a href="/">back to home</a>
