 <!--  Chaehyun Lee #301084271 03-6-2021 -->
<!-- this is about me page -->
<h2 class="name">Name: Chaehyun Lee</h2><br>
<h2 class="name">Birth Date:1999-Nov-26</h2>
<p>I was born in Korea and raised in Japan. I like to listen to music, especially punk bands like SUM41 and GREEN DAY! I look forward to working with everyone in a fun and friendly environment!</p>
<img src="/images/myphoto.jpg" alt="myphoto" title="myphoto" width="300" height="600"><br>
<ul>
<li><a href="/">back to home</a></li>
</ul>