 <!--  Chaehyun Lee #301084271 03-6-2021 -->

<h2>E-mail Address</h2><br>
<h2>Chaehyun Lee</h2>
<h3>rize1126jesse@gmail.com</h3>
<h2>Instagram</h1>
<h3>punk_airjam</h3>
<p class="lead-form">mail form</p>

<form>
  
  <div class="item">
    <label class="label">Name</label>
    <input class="inputs" type="text" name="name">
  </div>
  
  <div class="item">
    <label class="label">Mail address</label>
    <input class="inputs" type="email" name="email">
  </div>
  
  
  <div class="item">
    <label class="label">Question</label>
    <textarea class="inputs"></textarea>
  </div>

  <div class="btn-area">
    <input type="submit" value="send"><input type="reset" value="reset">
  </div>

</form>
<a href="/">back to home</a>