 <!--  Chaehyun Lee #301084271 03-6-2021 -->

<h2>Chaehyun Lee</h2><br>


<h2>E-mail Address</h2>
<a href="mailto:rize1126jesse@gmail.com">rize1126jesse@gmail.com</a>
<h2>Instagram</h1>
<a href="https://www.instagram.com/punk_airjam/?hl=ja">punk_airjam</a>
<p class="lead-form">mail form</p>

<form>
  <ul>
      <li><div class="item">
        <label class="label">Name</label>
        <input class="inputs" type="text" name="name">
        </div>
      </li>
    <li>
      <div class="item">
        <label class="label">Mail address</label>
        <input class="inputs" type="email" name="email">
      </div>
    </li>
    
    <li>
      <div class="item">
        <label class="label">Question</label>
        <textarea class="inputs"></textarea>
      </div>
    </li>

    <div class="btn-area">
      <input type="submit" value="send"><input type="reset" value="reset">
    </div>
  </ul>
</form>
<a href="/">back to home</a>