 <!--  Chaehyun Lee #301084271 03-6-2021 -->

<h2 class="name">Chaehyun Lee</h2>
<img src="/images/logo.jpg" alt="logo" title="logo">
<h3>You can see his job here</h3>
<a href="about.ejs">About me</a><br>
<a href="project.ejs">My project</a><br>
<a href="service.ejs">service</a>
