 <!--  Chaehyun Lee #301084271 03-6-2021 -->

<!-- header is in header.ejs-->

<body>
<h2 class="name">Chaehyun Lee</h2>
<img src="/images/logo.jpg" alt="logo" title="logo">
<h3>You can see his job here</h3>
<ul>
<li><a href="about.ejs">About me</a></li><br>
<li><a href="project.ejs">My project</a></li><br>
<li><a href="service.ejs">service</a></li>
</ul>
</body>