<p>I created a page where you can enter your name, age, address, email address, password, and the information will be registered, and you can confirm your password or delete it all at once.</p>
<img src="/images/project1.png" alt="project1" title="project1">
<p>Clicking on the moving images to catch them will give you a score, and each time you catch one, the movement of the target will get faster. You can reset your score and movement speed at any time using the buttons at the top.</p>
<img src="/images/project2.png" alt="project2" title="project2">
<img src="/images/project3.png" alt="project3" title="project3">